<!-- Rotten Tomatoes top and bottom critics score lists -->
<div class="stripe">  
  <aside>
    <ol>
      <h3 class="list_header">Top Fresh Movies</h3>
      <li><p><%= @fresh[0].title %> - <%= @fresh[0].freshness %>%</p></li>
      <li><p><%= @fresh[1].title %> - <%= @fresh[1].freshness %>%</p></li>
      <li><p><%= @fresh[2].title %> - <%= @fresh[2].freshness %>%</p></li>
    </ol>
    <ol>
      <h3 class="list_header">Bottom Rotten Movies</h3>
      <li><p><%= @rotten[0].title %> - <%= @rotten[0].freshness %>%</p></li>
      <li><p><%= @rotten[1].title %> - <%= @rotten[1].freshness %>%</p></li>
      <li><p><%= @rotten[2].title %> - <%= @rotten[2].freshness %>%</p></li>
    </ol>
  </aside>
</div>